mixin pagination(page, pages, count)
  .pagination
    if page > 1
      .pagination__prev
        a(href=`/home/page/${page - 1}`) 
          i(class="mgr far fa-arrow-left")
          | Prev
    else
      .pagination__prev--disable
        a(disabled) 
          i(class="mgr far fa-arrow-left disable")
          | Prev
    
    .pagination__text
      p Page #{page} of #{pages} - #{count} total results
    
    if page < pages
      .pagination__next
        a(href=`/home/page/${parseFloat(page) + 1}`) Next
          i(class="mgl far fa-arrow-right")
    else 
      .pagination__next--disable
        a(disabled) Next
          i(class="mgl far fa-arrow-right")
